= form_for @user do |f|
  = f.label      :username
  = f.text_field :username

  = f.label          :password
  = f.password_field :password

  = f.label          :password_confirmation
  = f.password_field :password_confirmation

  = f.label       :email
  = f.email_field :email

  %label{:for => "user_admin", :class => "checkbox"}
    = f.check_box :admin
    = t('.admin')

  = f.submit t('.save'), :class => "btn"

