= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.input :username
  = f.input :password
  = f.input :password_confirmation
  = f.input :email

  .form-actions
    = f.submit t('.save'), :class => 'btn btn-primary'
