= simple_form_for bot, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :server_address
  = f.input :server_port
  = f.input :server_id
  = f.input :query_user
  = f.input :query_password

  .form-actions
    = f.submit t('.save'), :class => "btn btn-primary"
