- if running_bots.count > 0
  %li.nav-header
    %i.icon-play
    = t('.active')
  - running_bots.each do |bot|
    = link_to bot.name, bot_path(bot)

- if paused_bots.count > 0
  %li.nav-header
    %i.icon-pause
    = t('.paused')
  - paused_bots.each do |bot|
    %li= link_to bot.name, bot_path(bot)

- if can? :create, Bot
  - if running_bots.count > 0 || paused_bots.count > 0
    %li.divider
  %li
    = link_to new_bot_path do
      = # TODO fix grafic bug on hover
      %i.icon-plus-sign
      = t('.add_bot')