- if can?(:read, :menu) && user_signed_in?
  .container.nav-collapse
    %ul.nav
      %li
        = link_to root_path do
          %i.icon-home
          = t('.home')

      %li.dropdown
        = link_to '#', :class => "dropdown-toggle", :'data-toggle' => "dropdown" do
          %i.icon-th-large
          = t('.bots')
          %b.caret
        %ul.dropdown-menu
          = render "layouts/bots"

      - if can? :manage, User
        %li
          = link_to users_path do
            %i.icon-user
            = t('.user_management')

      %li
        = link_to destroy_user_session_path, :method => :delete do
          %i.icon-off
          = t('.logout')